.entry {
    position: absolute;
    width: 90%;
    margin: 0 5%;
    padding: .3rem 10px;
    border-radius: 3px;
    background: #fff;
    h4 {
        color: #eb4a4a;
        margin: 6px 3px;
        font-weight: normal;
        font-size: .325rem;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.row--flex {
    position: relative;
    display: flex;
    .flex--fluid {
        flex: 1;
        .icon {
            position: absolute;
            top: 1px;
            left: 1px;
            background: #f2f2f2;
            height: 40px;
            width: 40px;
            padding: 10px 0;
            border-right: 1px solid #b8b8b8;
            text-align: center;
        }
        input {
            width: 100%;
            height: 42px;
            padding-left: 45px;
            border-radius: 0px;
            border: 1px solid #b8b8b8;
            -webkit-appearance: none;
            outline: none;
        }
    }
}

.w--105 {
    margin-left: 10px;
    width: 105px;
    button {
        width: 100%;
    }
}

.btn {
    display: inline-block;
    padding: 0;
    height: 42px;
    font-size: .85em;
    border-radius: 0px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    outline: none;
    text-decoration: none;
    &.btn--primary {
        background: #32d2e9;
        color: #fff;
    }
    &.btn--info {
        background: #3e5982;
        color: #fff;
    }
}
