@import './components/site';
* {
    margin: 0;
}

.poster {
    width: 100%;
    img {
        width: 100%;
        vertical-align: middle;
    }
}
.dummy {
	position: absolute;
	top: 9%;
	left: 6%;
	width: 20%;
	height: 3%;
	text-indent: -9999rem;
	cursor: pointer;
	background: rgba(0,0,0,0);
}