@import './base/normalize';
@import './base/utils';
@import './components/site';
@import './components/layer';
@import './components/entry';
@import './components/qklogin';
.ifc__bg {
    width: 100%;
    img {
        vertical-align: middle;
        width: 100%;
    }
}

.option__dummy {
    position: absolute;
    top: 44%;
    left: 5%;
    width: 90%;
    height: 10%;
    text-indent: -9999em;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}
.entry {
    top: 16%;
}
.qk-entry {
    top: 16%;
}
