@import './base/normalize';
@import './base/utils';
@import './components/site';
.ifc__bg {
    width: 100%;
    img {
        vertical-align: middle;
        width: 100%;
    }
}

.option__dummy {
    position: absolute;
    top: 17%;
    left: 35%;
    width: 30%;
    height: 120px;
    text-indent: -9999em;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

.summary {
    position: absolute;
    width: 100%;
    top: 53%;
    text-align: center;
    p {
        margin: 2px 0;
        font-size: .35rem;
        color: #fff;
    }
}

.entry {
    position: absolute;
    top: 63%;
    width: 90%;
    margin: 0 5%;
    padding: 15px 10px;
    border-radius: 3px;
    background: #fff;
    h4 {
        color: #eb4a4a;
        margin: 6px 3px;
        font-weight: normal;
        font-size: .325rem;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.row--flex {
    position: relative;
    display: flex;
    .flex--fluid {
        flex: 1;
        .icon {
            position: absolute;
            top: 1px;
            left: 1px;
            background: #f2f2f2;
            height: 40px;
            width: 40px;
            padding: 10px 0;
            border-right: 1px solid #b8b8b8;
            text-align: center;
        }
        input {
            width: 100%;
            height: 42px;
            padding-left: 45px;
            border-radius: 0px;
            border: 1px solid #b8b8b8;
            -webkit-appearance: none;
            outline: none;
        }
    }
}

.w--105 {
    margin-left: 10px;
    width: 105px;
    button {
        width: 100%;
    }
}

.btn {
    display: inline-block;
    padding: 0;
    height: 42px;
    font-size: .85em;
    border-radius: 0px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    outline: none;
    text-decoration: none;
    &.btn--primary {
        background: #32d2e9;
        color: #fff;
    }
    &.btn--info {
        background: #3e5982;
        color: #fff;
    }
}
